{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}

<h1 class="title">We have our articles here</h1>

<div class="row">
    
    {% for article in articles%}
    <div class="col-md-4 article">
        <h4 class="article-title"> {{article.title}} </h4>
        <img src="{{ article.image}}" alt="" width="90%">
        <p class="article-description"> {{article.description |truncate(150)}} </p>
        <button class="article-button"><a href="{{article.url}}" class="article-readmore">Read the full article</a></button>
        <p class="article-date"> <i>Published at: {{article.date}}</i></p>
    </div>
    
    {% endfor %}
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% endblock%}

