{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div id="source-category">
    <h3 class="category-name">Entertainment</h3>
    <div class="row">
        {% for ent in entertainment%}
        <div class="col-md-3">
            
            <div class="source-card">
                <a href="{{ent.url}}" class="source-name"><h4>{{ent.name}}</h4></a>
                <p class="source-description"> {{ent.description}} </p>
                <a href="/articles/{{ent.id}}" class="source-articles"><button>View {{ent.name}} articles</button></a>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>


<div id="business">
    <h3>Business</h3>
    {% for business in business%}
        
        <div id="business">
            <a href="{{business.url}}" class="name">{{business.name}}</a>
            <p> {{business.description}} </p>
            <a href="/articles/{{business.id}}" class="articles">View {{business.name}} articles</a>
        </div>
    
   {% endfor %}
</div>

<div id="sports">
    <h3>Sport News</h3>
    {% for sport in sports%}
        
        <div id="">
            <a href="{{sport.url}}" class="name">{{sport.name}}</a>
            <p> {{sport.description}} </p>
            <a href="/articles/{{sport.id}}" class="articles">View {{sport.name}} articles</a>
        </div>
    
   {% endfor %}
</div>

<div id="general">
    <h3>General</h3>
    {% for gen in general%}
        
        <div id="">
            <a href="{{gen.url}}" class="name">{{gen.name}}</a>
            <p> {{gen.description}} </p>
            <a href="/articles/{{gen.id}}" class="articles">View {{gen.name}} articles</a>
        </div>
    
   {% endfor %}
</div>

<div id="health">
    <h3>Health</h3>
    {% for heal in health%}
        
        <div id="">
            <a href="{{heal.url}}" class="name">{{heal.name}}</a>
            <p> {{heal.description}} </p>
            <a href="/articles/{{heal.id}}" class="articles">View {{heal.name}} articles</a>
        </div>
    
   {% endfor %}
</div>

<div id="tech">
    <h3>Technology</h3>
    {% for tec in tech%}
        
        <div id="">
            <a href="{{tec.url}}" class="name">{{tec.name}}</a>
            <p> {{tec.description}} </p>
            <a href="/articles/{{tec.id}}" class="articles">View {{tec.name}} articles</a>
        </div>
    
   {% endfor %}
</div>

<div id="sci">
    <h3>Science News</h3>
    {% for sci in science%}
        
        <div id="">
            <a href="{{sci.url}}" class="name">{{sci.name}}</a>
            <p> {{sci.description}} </p>
            <a href="/articles/{{sci.id}}" class="articles">View {{sci.name}} articles</a>
        </div>
    
   {% endfor %}
</div>


{% endblock%}
