{% import 'macros.html' as macro%}
<h1>Welcome to Myner News</h1>
<h2><i>Categories</i></h2>
<div id="business">
    <h3>Business</h3>
    <ul>
        {{ macro.displaySources(business) }}
    </ul>
</div>

<div id="sports">
    <h3>Sports</h3>
    <ul>
        {{ macro.displaySources(sports) }}
    </ul>
</div>

<div id="tech">
    <h3>Technology</h3>
    <ul>
        {{ macro.displaySources(tech) }}
    </ul>
</div>

<div id="general">
    <h3>General News</h3>
    <ul>
        {{ macro.displaySources(general) }}
    </ul>
</div>

<div id="science">
    <h3>Science</h3>
    <ul>
        {{ macro.displaySources(science) }}
    </ul>
</div>

<div id="health">
    <h3>Health</h3>
    <ul>
        {{ macro.displaySources(health) }}
    </ul>
</div>