{% macro displaySources(business) %}

    {% for business in business %}
        <li><a href="business.url"> {{ business.name }} </a></li>
    {% endfor %}

{% endmacro %}

{% macro displaySources(sports) %}

    {% for sport in sports %}
        <li><a href="sport.url">{{ sport.name}}</a></li>
    {% endfor %}

{% endmacro %}

{% macro displaySources(tech) %}

    {% for tec in tech %}
        <li><a href="tech.url">{{ tech.name}}</a></li>
    {% endfor %}

{% endmacro %}


{% macro displaySources(general) %}

    {% for gen in general %}
        <li><a href="gen.url">{{ gen.name}}</a></li>
    {% endfor %}

{% endmacro %}

{% macro displaySources(health) %}

    {% for heal in health %}
        <li><a href="heal.url">{{ heal.name}}</a></li>
    {% endfor %}

{% endmacro %}

{% macro displaySources(science) %}

    {% for sci in science %}
        <li><a href="sci.url">{{ sci.name}}</a></li>
    {% endfor %}

{% endmacro %}