{% macro displaySources(business) %}

    {% for business in business %}
        <li>{{ business.name}}</li>
    {% endfor %}

{% endmacro %}

{% macro displaySources(sports) %}

    {% for sport in sports %}
        <li>{{ sport.name}}</li>
    {% endfor %}

{% endmacro %}

{% macro displaySources(tech) %}

    {% for tec in tech %}
        <li>{{ tech.name}}</li>
    {% endfor %}

{% endmacro %}


{% macro displaySources(general) %}

    {% for gen in general %}
        <li>{{ gen.name}}</li>
    {% endfor %}

{% endmacro %}
